.chat-panel-header {
    height: 65px;
}
.chat-panel-footer {
    height: 50px;
}
.profile-image {
    height: 50px;
    width: 50px;
}
.profile-text {
    padding-top: 10px;
    font-weight: bolder;
}
.chat-container {
    align-content: center;
    padding: 10px;
}
.message-container {
    height: 80vh;
    max-height: 80vh;
    overflow-y: auto;
}
.message-outer-container {
    padding-bottom: 0px;
}
/* .message-container-scroll {
    max-height: 70vh;
    overflow-y: auto;
} */
.message-box {
    width: 60%;
}
pre {
    white-space: pre-wrap;
    word-break: normal;
}

@media screen and (max-height: 1023px) {
    .message-container {
        height: 67vh;
        max-height: 67vh;
    }
}
